package components

templ header() {
	<div class="navbar">
		<div class="flex-1"></div>
		<div class="flex-none">
			<ul class="menu menu-horizontal px-1 text-lg">
				<li><a href="https://t.me/KrisSmi27" target="_blank">Связаться</a></li>
				<li><a href="https://t.me/krissmieng" target="_blank">Telegram Канал</a></li>
				<li><a href="https://www.instagram.com/smychnikova/" target="_blank">Instagram</a></li>
			</ul>
		</div>
	</div>
}
